.hex-container
{
	display: block;
	height: 320px;
	position: relative;
	width: 800px;
}
.hex
{
	animation: animatedBackground 10s linear infinite;
	background-color: #ccc;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	font-family: "Times New Roman","Open Sans Light","Georgia","Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	height: 86px;
	margin: 25px 5px;
	moz-animation: animatedBackground 10s linear infinite;
	moz-background-size: cover;
	ms-animation: animatedBackground 10s linear infinite;
	position: relative;
	text-align: center;
	webkit-animation: animatedBackground 10s linear infinite;
	webkit-background-size: cover;
	width: 150px;
	zoom: 1;
	text-shadow: -1px 1px 16px rgba(35, 193, 255, 0.7), 1px 1px 16px rgba(21, 163, 255, 0.7), 1px -1px 16px rgba(1, 96, 255, 0.7), -1px -1px 16px rgba(237, 112, 215, 0.7);
}
.hex.hex-gap
{
	margin-left: 86px;
}
.hex a
{
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 100%;
}
.hex .corner-1
{
	moz-transform: rotate(60deg);
	ms-transform: rotate(60deg);
	o-transform: rotate(60deg);
	transform: rotate(60deg);
	webkit-transform: rotate(60deg);
}
.hex .corner-1:before
{
	moz-transform: rotate(-60deg) translate(-87px,0);
	moz-transform-origin: 0 0;
	ms-transform: rotate(-60deg) translate(-87px,0);
	ms-transform-origin: 0 0;
	o-transform: rotate(-60deg) translate(-87px,0);
	o-transform-origin: 0 0;
	transform: rotate(-60deg) translate(-87px,0);
	transform-origin: 0 0;
	webkit-transform: rotate(-60deg) translate(-87px,0);
	webkit-transform-origin: 0 0;
}
.hex .corner-2
{
	moz-transform: rotate(-60deg);
	ms-transform: rotate(-60deg);
	o-transform: rotate(-60deg);
	transform: rotate(-60deg);
	webkit-transform: rotate(-60deg);
}
.hex .corner-2:before
{
	bottom: 0;
	moz-transform: rotate(60deg) translate(-44px,-12px);
	ms-transform: rotate(60deg) translate(-44px,-12px);
	o-transform: rotate(60deg) translate(-44px,-12px);
	transform: rotate(60deg) translate(-44px,-12px);
	webkit-transform: rotate(60deg) translate(-44px,-12px);
}
.hex .corner-3
{
	moz-transform: rotate(0);
	ms-transform: rotate(0);
	o-transform: rotate(0);
	transform: rotate(0);
	webkit-transform: rotate(0);
}
.hex .corner-3:before
{
	moz-transform: rotate(0) translate(-12px,-44px);
	ms-transform: rotate(0) translate(-12px,-44px);
	o-transform: rotate(0) translate(-12px,-44px);
	transform: rotate(0) translate(-12px,-44px);
	webkit-transform: rotate(0) translate(-12px,-44px);
}
.hex .inner
{
	color: #eee;
	position: absolute;
	right: 0;
	top: 0;
	display: inline;
	float: left;
	width: 98.3333%;
	margin: 0px 0.833333%;
}
.hex .inner a
{
	color: #fff;
	text-indent: 0;
}
.hex h4
{
	margin: 0;
}
.hex hr
{
	border: 0;
	border-top: 1px solid #eee;
	margin: 15px auto;
	width: 60%;
}
.hex p
{
	font-size: 28px;
	margin: 0 auto;
	width: 90%;
	color: white;
}
.hex.hex-1
{
}
.hex.hex-2
{
	background: #f00;
}
.hex.hex-3
{
	background: #80b971;
}
.hex.hex-back
{
	background: inherit;
}
.hex.hex-back a
{
	padding: 0 4px;
}
.hex .corner-1,.hex .corner-2,.hex .corner-3
{
	backface-visibility: hidden;
	background: inherit;
	height: 100%;
	left: 0;
	moz-backface-visibility: hidden;
	ms-backface-visibility: hidden;
	o-backface-visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	webkit-backface-visibility: hidden;
	width: 100%;
}
.hex .corner-1:before,.hex .corner-2:before,.hex .corner-3:before
{
	backface-visibility: hidden;
	background: inherit;
	background-repeat: no-repeat;
	content: '';
	height: 173px;
	left: 0;
	moz-backface-visibility: hidden;
	ms-backface-visibility: hidden;
	o-backface-visibility: hidden;
	position: absolute;
	top: 0;
	webkit-backface-visibility: hidden;
	width: 173px;
}
.hex-caption
{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	left: 0;
	moz-transition: all 300ms ease-out;
	ms-transition: all 300ms ease-out;
	o-transition: all 300ms ease-out;
	position: absolute;
	transition: all 300ms ease-out;
	webkit-transition: all 300ms ease-out;
}
.hex:hover .hex-simple-caption
{
	moz-transform: translateY(-100%);
	ms-transform: translateY(-100%);
	o-transform: translateY(-100%);
	transform: translateY(-100%);
	visibility: visible;
	webkit-transform: translateY(-100%);
}
.hex-simple-caption
{
	bottom: -60px;
	display: block;
	height: 30px;
	line-height: 25pt;
	text-align: center;
	visibility: hidden;
	width: 100%;
}
.hex-background
{
	left: -120px;
	position: absolute;
	top: -136px;
	width: 900px;
}
.hex-content {
	left: -40px;
}
.hex-background .hex
{
	background-color: rgb(40, 40, 40);
}
.als-viewport
{
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.als-wrapper
{
	list-style: none;
	position: relative;
}
.als-item
{
	cursor: pointer;
	display: block;
	float: left;
	position: relative;
	text-align: center;
}
.als-prev,.als-next
{
	clear: both;
	cursor: pointer;
	position: absolute;
}
.als-container
{
	background: none repeat scroll 0% 0% #2d2d2d;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px 0;
	color: #ccc;
	line-height: 25.6px;
	margin: 0 -20px;
	overflow: auto;
	padding: 15px 20px;
	position: relative;
	text-align: center;
	width: 840px;
	z-index: 0;
	margin: auto;
}
.als-container .als-item
{
	display: block;
	margin: 0 5px;
	margin: 0 auto;
	min-height: 120px;
	min-width: 100px;
	padding: 4px 0;
	text-align: center;
	vertical-align: middle;
}
.als-container .als-prev
{
	font-size: 30px;
	left: 10px;
}
.als-container .als-next
{
	font-size: 30px;
	right: 10px;
}
.als-container .als-prev,.als-container .als-next
{
	top: 175px;
}
.icon-arrow-left
{
    display:inline-block;
    width:32px;
    height:32px;
    line-height:32px;
    border-top:3px solid #aaa;
    border-right:3px solid #aaa;
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
}
.icon-arrow-right
{
    display:inline-block;
    width:32px;
    height:32px;
    line-height:32px;
    border-top:3px solid #aaa;
    border-right:3px solid #aaa;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}